<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Terms & Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content 
  [fullscreen]="true" 
  class="ion-padding"
  [scrollEvents]="true"
  (ionScroll)="logScrolling($event)">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Terms & Conditions</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Terms and Conditions</h1>

  <h2>1. Introduction</h2>
  <p>
    These Website Standard Terms and Conditions written on this webpage shall manage your use of our website, QuickBite accessible at quickbite.com.
  </p>

  <h2>2. Intellectual Property Rights</h2>
  <p>
    Other than the content you own, under these Terms, QuickBite and/or its licensors own all the intellectual property rights and materials contained in this Website.
  </p>

  <h2>3. Restrictions</h2>
  <p>
    You are specifically restricted from all of the following:
    - publishing any Website material in any other media;
    - selling, sublicensing and/or otherwise commercializing any Website material;
    - publicly performing and/or showing any Website material;
    - using this Website in any way that is or may be damaging to this Website;
    - using this Website in any way that impacts user access to this Website;
  </p>

  <h2>4. Your Content</h2>
  <p>
    In these Website Standard Terms and Conditions, "Your Content" shall mean any audio, video text, images or other material you choose to display on this Website.
  </p>

  <h2>5. No warranties</h2>
  <p>
    This Website is provided "as is," with all faults, and QuickBite express no representations or warranties, of any kind related to this Website or the materials contained on this Website.
  </p>
</ion-content>
