<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content 
  [fullscreen]="true" 
  class="ion-padding"
  [scrollEvents]="true"
  (ionScroll)="logScrolling($event)">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Policy</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Privacy Policy</h1>

  <p>
    This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a purchase from our bakery.
  </p>

  <h2>Personal Information We Collect</h2>
  <p>
    When you visit the site, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device.
  </p>

  <h2>How We Use Your Personal Information</h2>
  <p>
    We use the information that we collect generally to fulfill any orders placed through the site (including processing your payment information, arranging for shipping, and providing you with invoices and/or order confirmations).
  </p>

  <h2>Data Retention</h2>
  <p>
    When you place an order through the site, we will maintain your Order Information for our records unless and until you ask us to delete this information.
  </p>

  <h2>Changes</h2>
  <p>
    We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.
  </p>
</ion-content>
